@tailwind base;
@tailwind components;

@layer base {
    body {
        @apply font-noto;
    }

    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-3xl;
    }

    h3 {
        @apply text-2xl;
    }

    h4 {
        @apply text-xl;
    }
}

@layer components {
    .main-width {
        @apply box-border mx-auto w-full md:w-4/5;
    }

    h1.title {
        @apply text-center font-bold;
    }

    h3.sub-title {
        @apply font-bold mb-2;
    }

    .infor-table {
        @apply border-collapse border-td w-full my-4;
    }

    .alert-secondary {
        @apply p-4 bg-gray-200 rounded-md;
    }

    .alert-primary {
        @apply p-4 bg-indigo-100 rounded-md;
    }

    .border-td {
        @apply border-y border-gray-300;
    }

    .border-td > td {
        @apply py-2 pr-1;
    }

    .border-td > td:first-child {
        @apply text-sm text-gray-500;
    }

    .nav-items {
        @apply block px-4 py-2 text-sm text-white rounded-md hover:bg-slate-100 hover:text-gray-800;
    }

    .nav-sub {
        @apply absolute left-0 z-10 w-full md:min-w-max origin-top-right bg-gray-600 rounded-md shadow-lg;
    }

    .types-btn {
        @apply py-1 rounded text-white text-xs text-center text-outline inline-block hover:opacity-80;
        width: 72px;
        line-height: 1.4rem;
    }

    .text-outline {
        text-shadow: 1px 1px 2px rgb(0 0 0 / 70%);
    }
}

* {
    box-sizing: border-box !important;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #333;
}

.App > div {
    flex-grow: 1;
}
