@tailwind base;
@tailwind components;

@layer base {
    body {
        @apply font-noto;
    }

    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-3xl;
    }

    h3 {
        @apply text-2xl;
    }

    h4 {
        @apply text-xl;
    }
}

@layer components {
    .main-width {
        @apply box-border mx-auto w-full md:w-4/5;
    }

    .alert-secondary {
        @apply p-4 bg-gray-200 rounded-md;
    }

    .alert-primary {
        @apply p-4 bg-indigo-100 rounded-md;
    }

    .border-td {
        @apply border-y border-gray-300;
    }

    .types-btn {
        @apply py-1 rounded text-white text-xs text-center text-outline inline-block;
        width: 72px;
        line-height: 1.4rem;
    }

    .text-outline {
        text-shadow: 1px 1px 2px rgb(0 0 0 / 70%);
    }
}

* {
    box-sizing: border-box !important;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #333;
}

.App > div {
    flex-grow: 1;
}
/* 
.main-width {
    width: 76%;
    margin: auto;
} */
